<div class= banner>
    <div class="d-flex justify-content-center mt-4 mx-4">

          <%= link_to "Loue un wagon", bikes_path, class: "mb-5 mx-5 btn btn-ghost" %> <br>

          <%= link_to "Mets en location ton wagon", new_bike_path, class: "mb-5 btn btn-ghost" %> <br>
        </div>

<div class="box pub">

<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example p-3 rounded-2 col-12 " tabindex="0">

  <h4 id="scrollspyHeading1"></h4>
      <div class= card-product>
      <div class="card-product img">
          <img src="https://res.cloudinary.com/dszuzvkcb/image/upload/v1739718793/RAMEPLEINE_ttgrgg.jpg", alt= "RERBLINDE", width=400px>
                  <div class= card_product-infos>
  <p class= "card-product h2">Enervé chaque matin par les retards, les suppressions, les rames bondées?</p>
 </div>
 </div>
 </div>

  <h4 id="scrollspyHeading2"></h4>
      <div class= card-product>
        <div class= card_product-infos>
      <div class="card-product img">
  <p class= "card-product h2">Les grèves à répétition multipliant ton temps de trajet par 3 ou 4?</p>
              <img src="https://res.cloudinary.com/dszuzvkcb/image/upload/v1739718789/1200x680_cheminotscolere_eek3ye.jpg", alt= "RERBLINDE", width=800px>
</div>
</div>
</div>

  <h4 id="scrollspyHeading3"></h4>
      <div class= card-product>
      <div class="card-product img">
            <img src="https://res.cloudinary.com/dszuzvkcb/image/upload/v1739731409/femme_en_colere_b3xpdp.jpg", alt= "RERBLINDE", width=800px>
        <div class= card_product-infos>
  <p class= "card-product h2">La coupe est pleine. Il est temps de trouver une moyen simple et rapide pour se deplacer.</p>
</div>
</div>
</div>

 <h4 id="scrollspyHeading4"></h4>
      <div class= card-product>
          <div class= card_product-infos>
      <div class="card-product img">
  <p class= " card-product h2">Air Bn mE est LA solution </p>


    <p></p>
    </div>
     </div>
</div>
</div>

</div>

<div class = container >

<div id="carouselExampleAutoplaying" class="carousel slide w-500px" data-bs-ride="carousel" data-bs-interval="2000" style="width: 70%; margin: 20px auto;" >
  <div class="carousel-inner">
    <div class="carousel-item active">

    <img src="https://res.cloudinary.com/dszuzvkcb/image/upload/v1739718797/Capture_d_%C3%A9cran_2025-02-16_160458_t9pt79.jpg"  class=" d-block mx-auto w-500px"  alt="waaw">

    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dszuzvkcb/image/upload/v1739718789/mini-trains-aout-1_illsgf.jpg" class="d-block mx-auto w-500px" alt="waaw">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dszuzvkcb/image/upload/v1739718790/27588418-diaporama-scaled_zzuz3l.jpg" class="d-block mx-auto w-500px" alt="papy">

      </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dszuzvkcb/image/upload/v1739718793/Dresina_aldk2h.jpg" class="d-block mx-auto w-500px" alt="Jean">
    </div>
  <button class="carousel-control-prev" style="width: 50%; margin: 20px auto;" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" style="width: 50%; margin: 20px auto;" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>

</div>


</div>
