<H1>All our bikes</H1>
<div>
  <ul>
  <% @bikes.each do |bike| %>
    <li class="card" heigth=400px >
    <div class=container>
      <div class="row">
        <div class="col">
          <%= bike.brand %>
          <img src="<%= bike.poster_url %>", alt="un velo", width=100px>
          <%= bike.user.first_name %>
        </div>
      </div>
    </div>
    </li>
    <% end %>
  </ul>
</div>
