<H1>All our bikes</H1>
<div>
  <ul>
  <% @bikes.each do |bike| %>
    <li class="card" heigth=400px >
      <%= bike.brand %>
      <img src="<%= bike.poster_url %>", alt= "un velo", width=100px>
      <%= bike.user.first_name %>
    </li>
  <% end %>
  </ul>
</div>
