.navbar-lewagon {
  justify-content: center;
  background: rgb(213, 213, 213);
  color: rgb(224, 223, 223);
  font-size: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.font{
  font-family: "Rubik Glitch", serif;
  justify-content:center;
  font-size: 90px;
  color: rgb(40, 40, 40);
}
